.screen {
	/* this border is really just debugging*/
	border: 1px solid;
	margin: 0px; 
	padding: 0px;
	/* position: fixed;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;*/
}
h1 {
	font-family: sans-serif;
	font-size: 24px;
	color: red;
}
div.screenheader {
	margin: 0px;
	background-color: #ccc;
	/*border-bottom: 2px solid #000;*/
	padding-bottom: 4px;
	overflow: auto;
}
/*div/p*/.screentitle {
	font-size: 24pt;
	padding: 2px;
	border: 4px;
	margin: 2px;
}
.optionsbutton {
	float: right;
	font-size: 24pt;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;	
	border: 4px solid;
	border-radius: 6px;
	cursor: pointer;
	padding: 2px;
	background-color: white;
	margin: 2px;
}
.backbutton {
	float: left;
	font-size: 24pt;
	font-family: sans-serif;
	text-align: center;
	min-width: 48px;
	border: 4px solid;
	border-radius: 6px;
	cursor: pointer;
	padding: 2px;
	/*background-color: white;*/
	margin: 2px;
	margin-right: 6px;
}
.optiontitle {
	background-color: #ccc;
	font-size: 24pt;
	font-family: sans-serif;
	text-align: left;
	margin-top: 10px;
}
.optionvalue {
	position: relative;
	margin-top: 6px;
	overflow: auto;
}
.optionvalueend {
	clear:both;
}
.optionvaluelabel {
	min-height: 50px;
	margin-top: 10px;
	margin-left: 68px;
	margin-right: auto;
	font-size: 24pt;
	font-family: sans-serif;
	text-align: left;		
	vertical-align: middle;
}
.optionvalueicon {
	float: left;
	display: block;
	border: 4px solid;
	border-radius: 6px;
	cursor: pointer;
	padding: 4px;
	width: 48px;
	height: 48px;
}
.optionvalue_requires_app {
	display: block;
	float: right;
	width: 48px;
	height: 48px;
	font-size: 24pt;
	font-weight: bold;
	border: 4px solid grey;
	border-radius: 6px;
	cursor: pointer;
	padding: 4px;
}
/*div*/#tray {
	clear: both;
	width: 100%;
	overflow: auto;
}
img.loading {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.entry {
	display: block;
	float: left;
	width: 128px;
	height: 128px;
	margin: 2px;
	border: 4px solid #000;
	border-radius: 4px;
	/*background-color: #c0c0c0;*/
}
.touched {
	background-color: #ccc;
}
p.entrytitle {
	font-family: sans-serif;
	font-size: 16px;
	font-color: blue;
	text-align: center;	
}
div.entryicon {
	position: relative;
	width: inherit;
	height: 64px;
	display: table-cell;
	vertical-align: middle;
}
img.entryicon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 64px;
	height: 64px;
}
/*div*/#screen_entrypopup {
}
@media (min-width: 400px) {
	/*div*/#entrypopup_details {
		width: 50%;
	}
	/*div*/#entrypopup_options {
		width: 50%;
	}
}
@media not (min-width: 400px) {
	/*div*/#entrypopup_details {
		width: 100%;
	}
	/*div*/#entrypopup_options {
		width: 100%;
	}
}
/*div*/#entrypopup_details {
	/*media-dependent width: 50%;*/
	min-width: 150px;
	float: left;
}
/*div*/#entrypopup_options {
	/*media-dependent width: 50%;*/
	min-width: 150px;
	float: left;
}
.scrollhint_top {
		/* shadow - scroll hint - hor ver blur spread col */
   	-moz-box-shadow:	inset 0 10px 10px -5px rgba(0,0,0,0.5);
   	-webkit-box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.5);
    box-shadow:         inset 0 10px 10px -5px rgba(0,0,0,0.5);
}
.scrollhint_bottom {
		/* shadow - scroll hint - hor ver blur spread col */
   	-moz-box-shadow:    inset 0 -10px 5px -5px rgba(0,0,0,0.5);
   	-webkit-box-shadow: inset 0 -10px 5px -5px rgba(0,0,0,0.5);
    box-shadow:         inset 0 -10px 5px -5px rgba(0,0,0,0.5);
}
/*p*/#entrypopup_title {
	font-family: sans-serif;
	font-size: 32px;
	font-color: blue;
	text-align: center;	
}
/*div*/#entrypopup_icon {
	width: 100%;
	height: 128px;
	background-color: white;
	/*border: 1px solid black;*/
}
/*img*/.entrypopup_icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 128px;
	height: 128px;
}
/*div*/#entrypopup_requires {
	display: block;
	width: 100%;
	overflow: auto;
}
img.entrypopup_requires_mime {
	display: inline;
	width: 48px;
	height: 48px;
	font-size: 24pt;
	font-weight: bold;
	border: 4px solid grey;
	border-radius: 6px;
	cursor: pointer;
	padding: 4px;
	margin: 4px;
}
.entrypopup_requires_device {
	display: block;
	float: left;
	height: 48px;
	overflow: hidden;
	font-size: 20pt;
	font-weight: bold;
	border: 4px solid grey;
	border-radius: 6px;
	cursor: pointer;
	padding: 4px;
	margin: 4px;
}
#entrypopup_requires_end {
	clear: left;
}
/*p*/#entrypopup_summary {
	font-family: sans-serif;
	font-size: 20px;
	text-align: justify;
	margin: 10px;
}
p.option {
	font-size: 32px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;	
	border: 4px solid;
	border-radius: 6px;
	cursor: pointer;
	padding: 5px 0 5px 0;
}
img.option_qrcode {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
	/* crisp image if scaled up: */
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast;
	/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	/* IE (non-standard property) */
	padding: 0px;
	margin: 0px;
	border: 0px;
}
p.option_url {
	font-size: 24px;
	font-family: sans-serif;
	font-weight: normal;
	text-align: center;	
	padding: 0px;
	margin: 0px;
	border: 0px;
}
p.option_info {
	font-size: 24px;
	font-family: sans-serif;
	font-weight: normal;
	text-align: justified;	
	padding: 0px;
	margin: 0px;
	border: 0px;
}
span.ssid {
	font-family: monospace;
	font-weight: bold;
}
