h1 {
	font-family: sans-serif;
	font-size: 24px;
	color: red;
};
div#tray {
	width: 100%;
}
img.loading {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.entry {
	width: 128px;
	height: 128px;
	float: left;
	margin: 2px;
	border: 4px solid #000;
	border-radius: 4px;
	/*background-color: #c0c0c0;*/
}
div.entrytouched {
	background-color: #ccc;
}
p.entrytitle {
	float: none;
	font-family: sans-serif;
	font-size: 16px;
	font-color: blue;
	text-align: center;	
}
div.entryicon {
	float: none;
	position: relative;
	width: inherit;
	height: 64px;
	display: table-cell;
	vertical-align: middle;
}
img.entryicon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 64px;
	height: 64px;
}
#entrypopup {
	float: none;
	position: absolute;
	border: 1px solid;
	border-radius: 15px;
	cursor: default;
	z-index:1000; /*always on top*/
	padding: 10px 0 10px 0;
	width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: white;
}
/*div*/#entrypopup_details {
	position: absolute;
	left: 3%;
	top: 3%;
	width: 45%;
	height: 94%;
	overflow: scroll;
	/*border: thin solid grey;*/
}
/*div*/#entrypopup_options {
	position: absolute;
	left: 52%;
	top: 3%;
	width: 45%;
	height: 94%;
	/*border: thin solid grey;*/
}
/*p*/#entrypopup_title {
	float: none;
	font-family: sans-serif;
	font-size: 32px;
	font-color: blue;
	text-align: center;	
}
/*div*/#entrypopup_icon {
	float: none;
	width: 100%;
	height: 128px;
	background-color: white;
	/*border: 1px solid black;*/
}
/*img*/.entrypopup_icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 128px;
	height: 128px;
}
/*p*/#entrypopup_summary {
	float: none;
	font-family: sans-serif;
	font-size: 20px;
	text-align: justify;
	margin: 10px;
}
p.option {
	float: none;
	font-size: 32px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;	
	border: 4px solid;
	border-radius: 6px;
	cursor: pointer;
	padding: 10px 0 10px 0;
}
p.optiontouched {
	background-color: #ccc;
}
