<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opensharingtoolkit.chooser"
    android:versionCode="7"
    android:versionName="1.3.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- <uses-permission android:name="android.permission.BATTERY_STATS"/> -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--  <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> -->
    <!--  system app permission <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <!-- <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--  system app permission <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/> -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!--  system app permission <uses-permission android:name="android.permission.REBOOT"/> -->
    <!--  system app permission <uses-permission android:name="android.permission.SET_ORIENTATION"/> -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--  system app permission <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  system app permission <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS"/> -->
    <!--  possibly specific to cyanogenmod! -->
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <!--  <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/> -->
    <!--  System app only <uses-permission android:name="android.permission.STATUS_BAR"/> -->
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.opensharingtoolkit.chooser.MainActivity"
			android:launchMode="singleTask"
            android:label="@string/app_name" 
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.opensharingtoolkit.chooser.ShowMainActivity"
			android:launchMode="standard"
            android:exported="false">            
            >
        </activity>
        <service 
            android:name="org.opensharingtoolkit.chooser.Service"
            android:exported="false">            
        </service>
        <activity android:name="org.opensharingtoolkit.chooser.SettingsActivity"
			android:launchMode="singleTask"
			android:taskAffinity="org.opensharingtoolkit.kiosk.settings"
            android:theme="@style/SettingsTheme"
            android:label="@string/add_settings_name" android:clearTaskOnLaunch="true" android:alwaysRetainTaskState="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:launchMode="standard" 
			android:taskAffinity="org.opensharingtoolkit.kiosk.settings"
            android:name="ZipHandlerActivity"
            android:theme="@style/SettingsTheme"
            android:label="@string/zip_handler_name" >
            <intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
        		<data android:scheme="file" />
        		<data android:mimeType="*/*" />
        		<data android:pathPattern=".*\\.zip" />
        		<data android:host="*" />
            </intent-filter>                
            <intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
        		<data android:mimeType="application/zip" />
            </intent-filter>                
            </activity>
        </application>

</manifest>
