//@import "foundation_and_overrides";
@import "settings";
@import "_settings";
@import "foundation";
// topbar icon(s)
.topbar-icon {
  height: $topbar-height*0.7;
  width: auto;
};
.topbar-menu {
  height: $topbar-height*0.7;
  width: auto;
};
.topbar-back {
  height: $topbar-height*0.7;
  width: auto;
};
.entry-in-list {
  @extend .columns;
  @extend .large-4;
  @extend .medium-4;
  @extend .small-6;
};
.entry-in-list-icon {
  // see http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
  display: inline-block;
  position: relative;
  width: 90%;
  // centre?
  left: 5%;
  //height: 
  overflow: hidden;
  .dummy {
    padding-top: 75%; //4:3 aspect
  };
  img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  } 
};
.entry-option {
  @extend .button;
  width: 90%;
}
// device type choice in list
.devicetype {
  width: 100%;
  margin-top: 6px;
  cursor: pointer;
  overflow: auto;
  // text
  font-size: $h3-font-size;
  vertical-align: middle;
};
.devicetype-selected {
};
.devicetype-unselected {
};
.option-value-icon {
  display: inline-block;
  border: 4px solid;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
  width: 48px;
  height: 48px;
};
// orbit slides
.preview-thumbnails {
};
span.ssid {
  font-family: monospace;
  font-weight: bold;
};
