//@import "foundation_and_overrides";
@import "settings";
@import "_settings";
@import "foundation";
// topbar icon(s)
.topbar-icon {
  height: $topbar-height*0.7;
  width: auto;
};
.topbar-menu {
  height: $topbar-height*0.7;
  width: auto;
};
.topbar-back {
  height: $topbar-height*0.7;
  width: auto;
};
.entry-in-list {
  @extend .columns;
  @extend .large-4;
  @extend .medium-4;
  @extend .small-6;
};
.entry-in-list-title-holder {
  height: 1.1em;
};
.entry-in-list-title {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  // Note: modal dialogs at 99
  z-index: 5;
};
.entry-in-list-icon {
  // see http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
  display: inline-block;
  position: relative;
  width: 90%;
  // centre?
  left: 5%;
  //height: 
  overflow: hidden;
  .dummy {
    padding-top: 75%; //4:3 aspect
  };
  img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  } 
};
.entry-option {
  @extend .button;
  width: 90%;
}
// device type choice in list
.devicetype {
  width: 100%;
  margin-top: 6px;
  cursor: pointer;
  overflow: auto;
  // text
  font-size: $h3-font-size;
  vertical-align: middle;
};
.devicetype-selected {
};
.devicetype-unselected {
};
.option-value-icon {
  display: inline-block;
  border: 4px solid;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
  width: 48px;
  height: 48px;
};
// orbit slides
.preview-thumbnails {
};
span.ssid {
  font-family: monospace;
  font-weight: bold;
};
// help for entries
.floating-help-button {
  z-index: 20;
  position: fixed;
  width: 2em;
  height: 2em;
  right: 0.2em;
  bottom: 0.2em;
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  };
};
// help overlay helper
.help-relative {
  position: relative;
};
.help-below-left-align {
  position: absolute;
  top: 1.5em;
  left: 1.2em;
  right: -100%;
  text-align: left;
  z-index: 40;
  //background-color: rgba(255,255,255,0.6);
  img {
    position: relative;
    height: 1.5em;
    width: 1.5em;
  }
  span {
    position: relative;
    top: 0.8em; 
  }
};
.help-below-right-align {
  position: absolute;
  top: 1.5em;
  right: 1.2em;
  left: -100%;
  text-align: right;
  z-index: 40;
  //background-color: rgba(255,255,255,0.6);
  img {
    position: relative;
    height: 1.5em;
    width: 1.5em;
  }
  span {
    position: relative;
    top: 0.8em; 
  }
};
.help-label {
  height: 1.5em;
  width: 1.5em;
}
// overlay help for entries screen
.entry-list-help {
  z-index: 30;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .entry-list-help-top {
    height: 5em;
  };
  .help-scroll-vertical {
    width: 1.5em;
    height: 6em;
  };
  .entry-list-help-ok {
    position: fixed;
    right: 0.2em;
    bottom: 0.2em;
    cursor: pointer;
  };
};


