//@import "foundation_and_overrides";
@import "settings";
@import "_settings";
@import "foundation";
@import "foundation/components/global";
$help-icon-size: rem-calc(56);
// faster button hover
//a,
//#back,
//#help,
//#chooseDevicetype,
//.entry-in-list,
.button,
//.devicetype,
//.devicetype-help-button,
.entry-option,
.entry-option-step-help-button,
.entry-option-help-button,
//.help-label
.clickable {
  // http://lfhck.com/question/388518/how-to-simulate-active-css-pseudo-class-in-android-on-non-link-elements
  //&:active {
  @if $experimental {
      -webkit-box-shadow: 0 0 10px fade-out(#888, .25);
      -moz-box-shadow: 0 0 10px fade-out(#888, .25);
  }
  box-shadow: 5px 5px 5px fade-out(#888, .25);
  border: solid 1px;
  border-radius: 5px;
  border-color: fade-out(#888, .25);

  transition: box-shadow 500ms;

  &.touch-active {
    @if $experimental {
      -webkit-box-shadow: 0 0 10px fade-out($primary-color, .25);
      -moz-box-shadow: 0 0 10px fade-out($primary-color, .25);
    }
    box-shadow: 0 0 10px fade-out($primary-color, .25);
    border-color: fade-out($primary-color, .25);

    transition: box-shadow 0ms;
  }
  //@include block-glowing-effect(hover,10ms);
  //@include block-glowing-effect(active,10ms);
  &:hover {
    cursor: pointer;
  };
};
// disable text selection
body {
  //http://stackoverflow.com/questions/11237936/mobile-web-disable-long-touch-taphold-text-selection
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
};
// topbar icon(s)
.topbar-icon {
  height: $topbar-height*0.7;
  width: auto;
};
.topbar-menu {
  height: $topbar-height*0.7;
  width: auto;
};
.topbar-back {
  height: $topbar-height*0.7;
  width: auto;
};
.help-icon {
  width: $help-icon-size;
  height: $help-icon-size;
};
// hide breadcrumbs for now (used internally)
.breadcrumbs {
  display: none;
};
.entry-in-list {
  @extend .columns;
  @extend .large-4;
  @extend .medium-6;
  @extend .small-12;
  //margin-top: 0.5em;
  padding: 0.2em;
};
entry-in-list-button {
  //width: 100%;
  //margin: 3%;
  //margin: 0.5em;
  padding: 0.2em;
};
.entry-in-list-title-holder {
  height: 1.1em;
  margin: 0.2em;
};
.entry-in-list-title {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  // Note: modal dialogs at 99
  z-index: 5;
};
.entry-in-list-icon {
  // see http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
  display: inline-block;
  position: relative;
  width: 90%;
  // center?
  left: 5%;
  //height: 
  overflow: hidden;
  .dummy {
    padding-top: 75%; //4:3 aspect
  };
  .entry-icon-image {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  } 
};
.entry-in-list-compats {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.2em;
};
.entry-info-compats {
  position: relative;
  padding-bottom: 0.3em;
};
.entry-in-list-compat {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  background-color: rgba(192,192,192,0.8);
  z-index: 1;
  border: solid 2px #888;
  border-radius: 4px;
  p {
    #background-color: rgba(255,255,255,0.4);
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 40%;
    #text-align: left;
    z-index: 2;
    color: #444;
    font-weight: bold;
    white-space:nowrap;
  };
  img {
    opacity:0.5;
    filter:alpha(opacity=50);
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: auto;
  };
};
.entry-in-list-compat-current {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  background-color: rgba(255,255,255,1.0);
  z-index: 1;
  border: solid 2px #888;
  border-radius: 4px;
  p {
    #background-color: rgba(255,255,255,0.4);
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 40%;
    #text-align: left;
    z-index: 2;
    color: #444;
    font-weight: bold;
    white-space:nowrap;
  };
  img {
    #opacity:0.5;
    #filter:alpha(opacity=50);
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: auto;
  };
};
.entry-in-list-mimetype {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  background-color: rgba(255,255,255,0.5);
  .img {
    width: 90%;
    height: auto;
    #height: 90%;
  };
};
.entry-info-mimetype {
  display: inline-block;
  position: relative;
  text-align: right;
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em;
  background-color: rgba(255,255,255,0.5);
  img {
    #opacity:0.5;
    #filter:alpha(opacity=50);
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: auto;
  };
};
.entry-option {
  @extend .button;
  text-align: left;
  width: 100%;
  // for help button
  position: relative;
}
#chooseDeviceModal {
  top: 0.5em;
};
// device type choice in list
.devicetype {
  width: 100%;
  margin-top: 6px;
  cursor: pointer;
  overflow: auto;
  // text
  font-size: $h2-font-size;
  vertical-align: middle;
  // for help button
  position: relative;
};
.devicetype-selected {
};
.devicetype-unselected {
};
.option-value-icon {
  display: inline-block;
  border: 4px solid;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
  width: 56px;
  height: 56px;
};
.option-url {
  font-family: Monospace;
  font-size: 80%;
  text-align: center;
  word-wrap: break-word;
  border: solid 1px;
  border-radius: 10px;
  //background-color: #ccc;
};
.option-qrcode {
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  
  img  { 
    width: 80%;
    height: auto;
  }
};
.option-step {
  border:2px solid #a1a1a1;
  padding:10px 10px; 
  background:#dddddd;
  #width:300px;
  border-radius:10px;
};

// orbit slides
.preview-thumbnails {
};
span.ssid {
  font-family: monospace;
  font-weight: bold;
};
// help for entries
.floating-help-button {
  z-index: 20;
  position: fixed;
  width: 2em;
  height: 2em;
  right: 0.2em;
  top: 0.2em;
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  };
};
.menubar-help-pad {
  width: 6em;
};
.entry-option-help-button {
  position: absolute;
  right: 0.5em;
  width: $help-icon-size;
  height: $help-icon-size;
  top: 0.0em;
  //height: 10%;
  padding: 0.0em;
  cursor: pointer;
};
.entry-option-more-help-button {
  width: $help-icon-size;
  height: $help-icon-size;
  //height: 10%;
  padding: 0.2em;
  cursor: pointer;
};
.entry-option-step-help-button {
  width: $help-icon-size;
  height: $help-icon-size;
  overflow: visible;
  cursor: pointer;
  float: right;
};
.devicetype-help-button {
  width: $help-icon-size;
  height: 2
em;
  overflow: visible;
  //padding: 0.2em;
  cursor: pointer;
};
.devicetype-help-image {
  height: 6em;
  width: auto;
  margin-left: 1em;
  float: right;
};
.clear-both {
  clear: both;
};

// help overlay helper
.help-relative {
  position: relative;
};
.help-below-left-align {
  position: absolute;
  top: 1.5em;
  left: 1.2em;
  right: -100%;
  text-align: left;
  z-index: 40;
  //background-color: rgba(255,255,255,0.6);
  img {
    position: relative;
    height: 1.5em;
    width: 1.5em;
  }
  span {
    position: relative;
    top: 0.8em; 
  }
};
.help-below-right-align {
  position: absolute;
  top: 1.5em;
  right: 1.2em;
  left: -100%;
  text-align: right;
  z-index: 40;
  //background-color: rgba(255,255,255,0.6);
  img {
    position: relative;
    height: 1.5em;
    width: 1.5em;
  }
  span {
    position: relative;
    top: 0.8em; 
  }
};
.help-label {
  height: 1.5em;
  width: 1.5em;
}
// overlay help for entries screen
.entry-list-help {
  z-index: 30;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .entry-list-help-top {
    height: 3em;
  };
  .help-scroll-vertical {
    width: 1.5em;
    height: 6em;
  };
  .entry-list-help-ok {
    position: fixed;
    right: 0.2em;
    bottom: 0.2em;
    cursor: pointer;
  };
  .entry-list-help-info {
    position: absolute;
    width: $help-icon-size;
    height: $help-icon-size;
    bottom: 1em;
    left: 1em;
    a { 
      display: block;
    };      
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    };
  };
};
.entry-option-step-panel p {
  font-size: 60%;
};
// attract overlay/modal
.attract-modal {
  z-index: 200;
  background-color: rgba(255,255,255,1.0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  canvas {
    position: absolute;
    background-color: rgb(251,251,251);
  };
  .explain-more {
    z-index: 201;
    position: fixed;
    left: 0.2em;
    bottom: 0.2em;
    //width: 40%;
    cursor: pointer;
    a {
      width: 100%;
    };
  };
  .explain-ok {
    z-index: 201;
    position: fixed;
    right: 0.2em;
    bottom: 0.2em;
    cursor: pointer;
    //width: 40%;
    a {
      width: 100%;
    };
  };
};

// consent overlay/modal
.consent-modal {
  z-index: 190;
  background-color: rgba(255,255,255,1.0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .panel {
    margin-top: 1em;
  }
  .consent-button {
    width: 100%;
  };
  .consent-logo {
    float: right;
  };
  .button-row {
    position: absolute;
    bottom: 0.2em;
  };
};

